@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Plus', serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 720px;
}

nav{
    color: white;
    display: flex;
    width: 84%;
    margin: 0 20px;
    padding: 20px 10px;
    align-items: center; 
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

nav ul li a:hover{
    color: #e4cf9d;;
}

.detail{
    margin-left: 33%;
    margin-top: 6%;
    color: whitesmoke;
}

.hello{
    font-size: 70px;
}
.hello span{
    color: white;
}

.about{
    font-size: 40px;
    margin-top: 10px;
}

.aboutinfo{
    color: whitesmoke;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 50px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%; 
}

.photo{
    height: 100vh;
    width: 100vw;
}

.contactform {
    padding: 0 32px;
    padding-top: 100px;
    padding-left: 40px;
    font-family: 'Gentium Book Plus', serif;
    color: whitesmoke;
    background-image: url("pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 630px;
}

.heading {
    font-family: 'Gentium Book Plus', serif;
    font-size: 26px;
}

.contactform form div {
    padding: 3px;
}

.form-control {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 18vw;
    padding: 1px;
}

.btn {
    border-radius: 10px;
    padding: 2px;
    color: black;
    background-color: rgb(228, 215, 215);
    cursor: pointer;
    margin: 2px;
}

.btn:hover {
    background-color: rgb(180, 129, 129);
}

#emailHelp {
    font-size: 12px;
}

.blogcontainer{
    color: rgb(220, 186, 136);
}

.head1 {
    font-size: 35px;
    margin: 25px;
}

.blogitem {
    margin: 25px;
}

.pics img{
    height: 90%;
    position: relative;
    left: 70%;
    bottom: 190px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    width: 810px;
}

.skillsclass{
    color: whitesmoke;
    box-sizing: border-box;
    width: 60%;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 80px;
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 8px;
  }

.cp{width: 95%; background-color: cyan;}
.html {width: 76%; background-color: #04AA6D;}
.css {width: 70%; background-color: #2196F3;}
.js {width: 60%; background-color: #f44336;}
.c {width: 70%; background-color: #808080;}